<template>
  <div>
    <div class="card textcenter mt-3">
      <div class="card-header bg-primary text-white">
       Add Appointment
      </div>
      <div class="card-body">
        <form id="aptForm" @submit.prevent="$emit('addItem', item)">
          <div class="form-group form-row">
            <label class="col-md-2 col-form-label text-md-right" for="petName">Pet Name</label>
            <div class="col-md-10">
              <input
                  type="text"
                  class="form-control"
                  name="petName"
                  id="petName"
                  placeholder="Pet's Name"
                  v-model="petName"
              >
            </div>
          </div>

          <div class="form-group form-row">
            <label class="col-md-2 col-form-label text-md-right" for="ownerName">Pet Owner</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="ownerName" placeholder="Owner's Name"
                     v-model="petOwner">
            </div>
          </div>

          <div class="form-group form-row">
            <label class="col-md-2 col-form-label text-md-right" for="aptDate">Date</label>
            <div class="col-md-4">
              <input type="date" class="form-control" id="aptDate" v-model="aptDate">
            </div>
            <label class="col-md-2 col-form-label text-md-right" for="aptTime">Time</label>
            <div class="col-md-4">
              <input type="time" class="form-control" name="aptTime" id="aptTime" v-model="aptTime">
            </div>
          </div>

          <div class="form-group form-row">
            <label class="col-md-2 text-md-right" for="aptNotes">Apt. Notes</label>
            <div class="col-md-10">
              <textarea
                  v-model="aptNotes"
                  class="form-control"
                  rows="4"
                  cols="50"
                  name="aptNotes"
                  id="aptNotes"
                  placeholder="Appointment Notes"
              ></textarea>
            </div>
          </div>

          <div class="form-group form-row mb-0">
            <div class="offset-md-2 col-md-10">
              <button type="submit" class="btn btn-primary d-block ml-auto" @click="onSubmit">
                <font-awesome-icon icon="plus" class="mr-3"/>
                Add Appointment
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddAppointment",
  data: function () {
    return {
      item: {
        petName: '',
        petOwner: '',
        aptDate: '',
        aptTime: '',
        aptNotes: ''
      },
      petName: '',
      petOwner: '',
      aptDate: '',
      aptTime: '',
      aptNotes: ''
    }
  },
  methods: {
    onSubmit: function () {
      return this.item = {
        petName: this.petName,
        petOwner: this.petOwner,
        aptDate: this.aptDate,
        aptTime: this.aptTime,
        aptNotes: this.aptNotes
      }
    }
  }
}
</script>

<style scoped>

</style>