<template>
  <div class="col-12 col-md-10 col-lg-7">
    <add-appointment v-if="showApp" @addItem="addNewAppointment"/>
    <div v-for="item in appointments" v-bind:key="item.aptId" class="mt-4">
      <appointment-component :item="item" @remove="removeItem" @edit="editItem"/>
    </div>
  </div>
</template>

<script>
import AppointmentComponent from "@/components/AppointmentComponent";
import AddAppointment from "@/components/AddAppointment";
import axios from "axios";
import _ from 'lodash';

export default {
  name: "AppointmentsList",
  data: function () {
    return {
      appointments: []
    }
  },
  props: {
    showApp: Boolean,
    searchTerms: String
  },
  mounted() {
    this.fetchData();
  },
  computed: {
    searchedAppointments: function () {
      return this.appointments.filter(app => {
        app.petName.match(this.searchTerms);
      })
    }
  },
  methods: {
    fetchData: function () {
      axios.get('./data/appointments.json')
          .then(response => {
            this.appointments = response.data;
          }).catch(err => err.message);
    },

    removeItem: function (item) {
      this.appointments = _.without(this.appointments, item);
    },

    editItem: function (id, field, text) {
      const aptIndex = _.findIndex(this.appointments, {
        'aptId': id
      });
      this.appointments[aptIndex][field] = text;

    },

    addNewAppointment: function (item) {
      let sizeOfArray = _.size(this.appointments);
      this.appointments[sizeOfArray] = item;
      this.showApp = false;
    }
  },
  components: {AppointmentComponent, AddAppointment}
}
</script>

<style scoped>

</style>