<template>
  <div>
    <b-card>
      <b-card-title
      >Pet Owner:
        <span contenteditable="true"
              v-on:blur="$emit('edit', item.aptId, 'petOwner', $event.target.innerText)">{{ item.petOwner }}</span>
      </b-card-title>
      <b-card-sub-title>Pet Name: {{ item.petName }}</b-card-sub-title>
      <b-card-text>
        {{ item.aptNotes }}
      </b-card-text>
      <b-button pill variant="primary" class="mr-2 pr-4">
        <font-awesome-icon icon="check" class="mr-2"/>
        Check
      </b-button>
      <b-button pill variant="outline-secondary" v-on:click="$emit('remove', item)">
        <font-awesome-icon icon="trash" class="mr-2"/>
        Remove
      </b-button>
      <div>
        <b-card-text class="float-right align-bottom">Date: <em>{{ formatDate() }}</em></b-card-text>
      </div>
    </b-card>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  name: "AppointmentComponent",
  props: {
    item: Object
  },
  methods: {
    formatDate: function () {
      return moment(this.item.aptDate).format('LLL');
    }
  }
}
</script>

<style scoped>

</style>