<template>
  <div id="main-app" class="container-fluid">
    <h4>{{ title }}</h4>

    <b-button pill variant="success" @click="showAddAppointmentComp">
      <font-awesome-icon icon="plus"/>
      Add Appointment
    </b-button>

    <div class="row justify-content-center">
      <search-appointment @searchRecords="searchAppointRecords"/>
      <appointments-list :showApp="showAddApp" :searchTerms="searchTerms"/>
    </div>
  </div>
</template>

<script>
import AppointmentsList from "@/components/AppointmentsList";
import SearchAppointment from "@/components/SearchAppointment";

export default {
  name: 'MainApp',
  data: function () {
    return {
      title: 'Appointment Info',
      searchTerms: '',
      showAddApp: false
    }
  },
  components: {
    AppointmentsList,
    SearchAppointment
  },
  methods: {
    showAddAppointmentComp: function () {
      this.showAddApp = !this.showAddApp;
    },

    searchAppointRecords: function (searchTerm) {
      this.searchTerms = searchTerm;
    }
  }
}
</script>

<style>
#main-app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
